/*============================= RESPONSIVENESS ======================================*/

/*=============================== 0 - 600 px ========================================*/

@media only screen and (min-width: 0px) and (max-width: 600px){
    #welcome-page #about-us-block {
      flex-direction: column;
      padding: 70px 0;
      margin: 50px 0 80px 0;
      gap: 5%;
    }
    
    #welcome-page #about-us-block #about-us-background {
      left: -5.5%;
    }
    
    #welcome-page #about-us-block #left-side {
      width: 100%;
      height: 50vw;
    }
    
    #welcome-page #about-us-block #junk1 {
      width: 35%;
    }
    
    #welcome-page #about-us-block #junk2 {
      width: 20%;
    }
    
    #welcome-page #about-us-block #astronaut {
      width: 45%;
      right: 40%;
      top: 15%;
      pointer-events: none;
    }
    
    #welcome-page #about-us-block #right-side {
      width: 100%;
    }
  
    #welcome-page #our-mission-block .our-mission-decor-container {
      display: none;
    }
  
    #welcome-page #our-mission-block .our-goals {
      width: 100%;
      gap: 2rem;
      pointer-events: none;
    }
  
    #welcome-page #quote-block {
      font-size: 4rem;
      margin: 80px 0;
    }
  
    #our-team-block {
      margin-bottom: 60px;
    }
    
    .team-cards {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, 1fr);
      row-gap: 2.5rem;
      padding-top: 0;
      pointer-events: none;
    }
  
    .team-cards > div .member-photo {
      height: 350px;
    }
  
    #welcome-page .pricing-block {
      display: flex;
      flex-direction: column;
      gap: 0px;
      margin-bottom: 60px;
    }

    .pricing-block .block-header {
        text-align: center;
        align-items: center;
        width: 100%;
    }
  
    #welcome-page .plans-container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      row-gap: 30px;
    }
  }
  
  /*=============================== 601 - 904 px ========================================*/
  
  @media only screen and (min-width: 601px) and (max-width: 904px){
    #welcome-page #about-us-block {
      flex-direction: column;
      padding: 70px 0;
      margin: 50px 0 80px 0;
      gap: 5%;
    }
    
    #welcome-page #about-us-block #about-us-background {
      left: -8%;
    }
    
    #welcome-page #about-us-block #left-side {
      width: 100%;
      height: 40vw;
    }
    
    #welcome-page #about-us-block #junk1 {
      width: 35%;
    }
    
    #welcome-page #about-us-block #junk2 {
      width: 20%;
    }
    
    #welcome-page #about-us-block #astronaut {
      width: 40%;
      right: 40%;
      top: 15%;
      pointer-events: none;
    }
    
    #welcome-page #about-us-block #right-side {
      width: 100%;
    }
  
    #welcome-page #our-mission-block .our-mission-decor-container {
      display: none;
    }
  
    #welcome-page #our-mission-block .our-goals {
      width: 100%;
      gap: 2rem;
      pointer-events: none;
    }
  
    #welcome-page #quote-block {
      font-size: 4rem;
      margin: 80px 0;
    }
  
    #our-team-block {
      margin-bottom: 100px;
    }
  
    #our-team-block .team-cards {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, 1fr);
      row-gap: 2.5rem;
      padding-top: 0;
      pointer-events: none;
    }
  
    #our-team-block .team-cards > div .member-photo {
      height: 450px;
    }
  
    .pricing-block .block-header {
      margin-left: auto;
      margin-right: auto;
      flex-direction: column;
      margin-bottom: 60px;
      width: 80%;
    }

    #welcome-page .pricing-block {
      margin-bottom: 60px;
    }
 
    #welcome-page .plans-container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      row-gap: 30px;
    }
  }
  
  /*=============================== 905 - 1238 px ========================================*/
  
  @media only screen and (min-width: 905px) and (max-width: 1238px) {
    #welcome-page #about-us-block {
      flex-direction: column;
      padding: 70px 0;
      margin: 50px 0 80px 0;
      gap: 5%;
    }
    
    #welcome-page #about-us-block #about-us-background {
      left: -12.5%;
    }
    
    #welcome-page #about-us-block #left-side {
      width: 100%;
      height: 40vw;
    }
    
    #welcome-page #about-us-block #junk1 {
      width: 30%;
    }
    
    #welcome-page #about-us-block #junk2 {
      width: 20%;
    }
    
    #welcome-page #about-us-block #astronaut {
      width: 40%;
      right: 40%;
      top: 15%;
      pointer-events: all;
    }

    #welcome-page #about-us-block #astronaut:hover {
        right: 35%;
    }
    
    #welcome-page #about-us-block #right-side {
      width: 100%;
    }
  
    #welcome-page #our-mission-block .our-mission-decor-container {
      display: block;
    }
  
    #welcome-page #our-mission-block .our-mission-decor-container .moon {
      right: -110%;
      width: 900px;
    }
  
    #welcome-page #our-mission-block .our-goals {
      width: 65%;
      gap: 2rem;
      pointer-events: all;
    }
  
    #welcome-page #quote-block {
      font-size: 5rem;
      margin: 100px 0;
    }
  
    #our-team-block {
      margin-bottom: 100px;
    }
  
    #our-team-block .team-cards {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      row-gap: 3rem;
      column-gap: 2rem;
      pointer-events: all;
    }
  
    #our-team-block .team-cards > div .member-photo {
      height: 300px;
    }
  
    #welcome-page .pricing-block {
      display: flex;
      flex-direction: column;
      margin-bottom: 100px;
      align-items: center;
    }
  
    #welcome-page .pricing-block .block-header {
      text-align: center;
      align-items: center;
      width: 80%;
    }
  
    #welcome-page .plans-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      column-gap: 30px;
    }
  }
  
  /*=============================== 1239 - 1439 px ========================================*/
  
  @media only screen and (min-width: 1239px) and (max-width: 1439px) {
    #welcome-page #about-us-block {
      flex-direction: row;
      padding: 100px 0;
      margin: 100px 0;
      gap: 7%;
    }
    
    #welcome-page #about-us-block #about-us-background {
      left: -12.5%;
    }
    
    #welcome-page #about-us-block #left-side {
      width: 50%;
      height: auto;
    }
  
    #welcome-page #about-us-block #junk1 {
      width: 220px;
    }
    
    #welcome-page #about-us-block #junk2 {
      width: 130px;
    }
    
    #welcome-page #about-us-block #astronaut {
      width: 330px;
      right: 25%;
      top: 10%;
      pointer-events: all;
    }

    #welcome-page #about-us-block #astronaut:hover {
        right: 30%;
    }
    
    #welcome-page #about-us-block #right-side {
      width: 50%;
    }
  
    #welcome-page #our-mission-block .our-mission-decor-container {
      display: block;
    }
  
    #welcome-page #our-mission-block .our-mission-decor-container .moon {
      right: -110%;
      width: 900px;
    }
  
    #welcome-page #our-mission-block .our-goals {
      width: 65%;
      gap: 2rem;
      pointer-events: all;
    }
  
    #welcome-page #quote-block {
      font-size: 6rem;
      margin: 100px 0;
    }
  
    #our-team-block {
      margin-bottom: 120px;
    }
  
    #our-team-block .team-cards {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 3rem;
      column-gap: 2rem;
      pointer-events: all;
    }
  
    #our-team-block .team-cards > div .member-photo {
      height: 250px;
    }
  
    #welcome-page .pricing-block {
      display: flex;
      flex-direction: column;
      margin-bottom: 120px;
      align-items: center;
    }
  
    #welcome-page .pricing-block .block-header {
      text-align: center;
      align-items: center;
    }
  
    #welcome-page .plans-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      column-gap: 30px;
    }
}
  
  /*=============================== 1440+ px ========================================*/  
  
  @media only screen and (min-width: 1440px) {
    #welcome-page #about-us-block {
      margin: 100px 0;
      gap: 10%;
      padding: 110px 0;
    }
    
    #welcome-page #about-us-block #about-us-background {
      left: -16%;
    }
    
    #welcome-page #about-us-block #left-side {
      width: 50%;
      height: auto;
    }
    
    #welcome-page #about-us-block #junk1 {
      width: 220px;
    }
    
    #welcome-page #about-us-block #junk2 {
      width: 130px;
    }
    
    #welcome-page #about-us-block #astronaut {
      width: 330px;
      right: 35%;
      top: 10%;
    }
    
    #welcome-page #about-us-block #astronaut:hover {
      right: 30%;
    }
    
    #welcome-page #about-us-block #right-side {
      width: 50%;
    }
      
    #our-mission-block .our-mission-container {
      gap: 60px;
    }
    
    #our-mission-block .our-goals {
      width: 50%;
      gap: 3.5rem;
    }

    #welcome-page #our-mission-block .our-mission-decor-container {
        display: block;
    }

    .our-mission-decor-container .moon {
      right: -600px;
      top: -10%;
      width: 170%;
    }
    
    #quote-block {
      font-size: 6rem;
      margin: 150px 0 100px 0;
    }  
    
    #our-team-block {
      margin-bottom: 150px;
    }
      
    #our-team-block .team-cards {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 3rem;
      row-gap: 4.75rem;
      pointer-events: all;
    }
    
    #our-team-block .team-cards > div .member-photo {
      height: 250px;
    }
    
    .pricing-block {
      display: grid;
      grid-template-columns: 1fr 1.75fr;
      grid-template-rows: repeat(1, 1fr);
      column-gap: 5rem;
      margin-bottom: 150px;
    }
    
    .pricing-block .block-header {
      align-items: flex-start;
      text-align: left;
      justify-content: center;
      width: 80% !important;
      margin-bottom: 0 !important;
    }
    
    #welcome-page .plans-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
      column-gap: 3rem;
    }
}